# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc
node_modules/
.vscode
__pycache__
package-lock.json
.serverless
config.py
serverless.yml
test-devices.py
testing.py
local.py
*.crt
*.key
*.pickle
mqttclient1.py
*.pem
secret_info.py
set_default_pickle_AwsHost.py
set_default_pickle.py